<h2> Data manipulation</h2>

In [1]:
#importem la llibreria pandas
import pandas as pd

In [2]:
#carreguem tots els fitxers
D5 = pd.read_excel('../Data/Dades_4298_D5_10.xlsx')
WU = pd.read_excel('../Data/Dades_4298_WU_6.xlsx')
X2 = pd.read_excel('../Data/Dades_4298_X2_.xlsx')
X4 = pd.read_excel('../Data/Dades_4298_X4_10.xlsx')
X8 = pd.read_excel('../Data/Dades_4298_X8_10.xlsx')
Y7 = pd.read_excel('../Data/Dades_4298B_Y7.xlsx')

In [3]:
#comprovem les dimensions de cada data frame
D5.shape, WU.shape, X2.shape, X4.shape, X8.shape, Y7.shape

((35040, 22), (35040, 22), (35040, 22), (35040, 22), (35040, 22), (35040, 7))

In [4]:
#com que y7 es diferent ens el mirem, i veiem que no té alguns camps
Y7

      ESTACIO                DATA  VV10  DV10  VVX10  DVVX10  SH
0          Y7 2018-01-01 00:00:00   6.8   292   12.0     277  SH
1          Y7 2018-01-01 00:30:00   8.1   290   12.8     294  SH
2          Y7 2018-01-01 01:00:00   8.8   300   12.8     299  SH
3          Y7 2018-01-01 01:30:00   8.1   304   14.4     304  SH
4          Y7 2018-01-01 02:00:00  11.9   295   15.6     299  SH
...       ...                 ...   ...   ...    ...     ...  ..
35035      Y7 2019-12-31 21:30:00   6.3   280    9.1     278  SH
35036      Y7 2019-12-31 22:00:00   6.1   281    9.0     284  SH
35037      Y7 2019-12-31 22:30:00   6.3   287    8.2     299  SH
35038      Y7 2019-12-31 23:00:00   5.9   290    7.6     289  SH
35039      Y7 2019-12-31 23:30:00   5.5   288    7.2     292  SH

[35040 rows x 7 columns]

In [13]:
# llistem tots els caps de cada data frme per veure si hi ha alguna altre discrepància
ColSumArray = [list(D5),list(WU),list(X2),list(X4),list(X8),list(Y7)]
ColSum = pd.DataFrame(ColSumArray)
ColSum

,0,1,2,3,4,5,6,7,8,9,...,12,13,14,15,16,17,18,19,20,21
0,ESTACIO,DATA,T,HR,PPT,RS,P,VV10,DV10,VVX10,...,DV6,VVX6,DVVX6,PX,PN,HRX,HRN,TX,TN,SH
1,ESTACIO,DATA,T,HR,PPT,RS,P,VV10,DV10,VVX10,...,DV6,VVX6,DVVX6,PX,PN,HRX,HRN,TX,TN,SH
2,ESTACIO,DATA,T,HR,PPT,RS,P,VV10,DV10,VVX10,...,DV6,VVX6,DVVX6,PX,PN,HRX,HRN,TX,TN,SH
3,ESTACIO,DATA,T,HR,PPT,RS,P,VV10,DV10,VVX10,...,DV6,VVX6,DVVX6,PX,PN,HRX,HRN,TX,TN,SH
4,ESTACIO,DATA,T,HR,PPT,RS,P,VV10,DV10,VVX10,...,DV6,VVX6,DVVX6,PX,PN,HRX,HRN,TX,TN,SH
5,ESTACIO,DATA,VV10,DV10,VVX10,DVVX10,SH,None,None,None,...,None,None,None,None,None,None,None,None,None,None

In [5]:
# Creem un data frame amb les dades de totes les taules
# ignore_index=True serveix per dir-li que no faci cas del index originals i que els reindexi
AllData = pd.concat([D5,WU,X2,X4,X8], ignore_index=True)
AllData

,ESTACIO,DATA,T,HR,PPT,RS,P,VV10,DV10,VVX10,...,DV6,VVX6,DVVX6,PX,PN,HRX,HRN,TX,TN,SH
0,D5,2018-01-01 00:00:00,10.2,63.0,0.0,0.0,969.3,3.5,349.0,13.2,...,NaN,NaN,NaN,969.8,968.8,65.0,62.0,10.6,9.4,SH
1,D5,2018-01-01 00:30:00,8.7,63.0,0.0,0.0,969.7,3.7,313.0,11.0,...,NaN,NaN,NaN,970.3,968.9,63.0,62.0,9.4,8.1,SH
2,D5,2018-01-01 01:00:00,7.7,64.0,0.0,0.0,970.3,4.0,293.0,14.2,...,NaN,NaN,NaN,970.7,969.8,64.0,63.0,8.1,7.5,SH
3,D5,2018-01-01 01:30:00,7.4,64.0,0.0,0.0,971.1,4.2,295.0,10.6,...,NaN,NaN,NaN,971.7,970.5,65.0,64.0,7.5,7.3,SH
4,D5,2018-01-01 02:00:00,7.3,65.0,0.0,0.0,971.7,5.1,293.0,13.1,...,NaN,NaN,NaN,972.1,971.2,65.0,64.0,7.4,7.1,SH
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
175195,X8,2019-12-31 21:30:00,7.1,80.0,0.0,0.0,1022.3,2.5,272.0,4.3,...,NaN,NaN,NaN,1022.4,1022.2,81.0,79.0,7.4,7.0,SH
175196,X8,2019-12-31 22:00:00,7.0,80.0,0.0,0.0,1022.4,2.3,288.0,4.1,...,NaN,NaN,NaN,1022.5,1022.3,81.0,79.0,7.1,6.7,SH
175197,X8,2019-12-31 22:30:00,6.6,81.0,0.0,0.0,1022.4,2.1,287.0,4.1,...,NaN,NaN,NaN,1022.4,1022.3,82.0,81.0,6.7,6.4,SH
175198,X8,2019-12-31 23:00:00,6.5,80.0,0.0,0.0,1022.2,2.2,296.0,4.6,...,NaN,NaN,NaN,1022.4,1022.0,81.0,80.0,6.7,6.4,SH
175199,X8,2019-12-31 23:30:00,6.4,81.0,0.0,0.0,1021.9,2.5,299.0,4.5,...,NaN,NaN,NaN,1022.0,1021.7,82.0,79.0,6.7,6.2,SH

In [8]:
# Ara guardem el dataframe en un fitxer allData.csv
# index = False serveix per dir-li que no volem un camp amb l'index
AllData.to_csv('../Data/allData.csv', index = False)

In [9]:
#Ara llegim el fitxer que hem creat i el guardem en una nova variable
# noteu que per llegir aquestes dades va molt més depresa que abans per carregar les provinents de l'excel
metData = pd.read_csv('../Data/allData.csv')

In [10]:
metData

,ESTACIO,DATA,T,HR,PPT,RS,P,VV10,DV10,VVX10,...,DV6,VVX6,DVVX6,PX,PN,HRX,HRN,TX,TN,SH
0,D5,2018-01-01 00:00:00,10.2,63.0,0.0,0.0,969.3,3.5,349.0,13.2,...,NaN,NaN,NaN,969.8,968.8,65.0,62.0,10.6,9.4,SH
1,D5,2018-01-01 00:30:00,8.7,63.0,0.0,0.0,969.7,3.7,313.0,11.0,...,NaN,NaN,NaN,970.3,968.9,63.0,62.0,9.4,8.1,SH
2,D5,2018-01-01 01:00:00,7.7,64.0,0.0,0.0,970.3,4.0,293.0,14.2,...,NaN,NaN,NaN,970.7,969.8,64.0,63.0,8.1,7.5,SH
3,D5,2018-01-01 01:30:00,7.4,64.0,0.0,0.0,971.1,4.2,295.0,10.6,...,NaN,NaN,NaN,971.7,970.5,65.0,64.0,7.5,7.3,SH
4,D5,2018-01-01 02:00:00,7.3,65.0,0.0,0.0,971.7,5.1,293.0,13.1,...,NaN,NaN,NaN,972.1,971.2,65.0,64.0,7.4,7.1,SH
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
175195,X8,2019-12-31 21:30:00,7.1,80.0,0.0,0.0,1022.3,2.5,272.0,4.3,...,NaN,NaN,NaN,1022.4,1022.2,81.0,79.0,7.4,7.0,SH
175196,X8,2019-12-31 22:00:00,7.0,80.0,0.0,0.0,1022.4,2.3,288.0,4.1,...,NaN,NaN,NaN,1022.5,1022.3,81.0,79.0,7.1,6.7,SH
175197,X8,2019-12-31 22:30:00,6.6,81.0,0.0,0.0,1022.4,2.1,287.0,4.1,...,NaN,NaN,NaN,1022.4,1022.3,82.0,81.0,6.7,6.4,SH
175198,X8,2019-12-31 23:00:00,6.5,80.0,0.0,0.0,1022.2,2.2,296.0,4.6,...,NaN,NaN,NaN,1022.4,1022.0,81.0,80.0,6.7,6.4,SH
175199,X8,2019-12-31 23:30:00,6.4,81.0,0.0,0.0,1021.9,2.5,299.0,4.5,...,NaN,NaN,NaN,1022.0,1021.7,82.0,79.0,6.7,6.2,SH